<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s12">
        <h4><b>Edit category</b></h4>
      </div>
    </div>

    <%= form_for @category do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :name, type: "text", :required => true %>
        <%= f.label :name, class: "active" %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.label :text, class: "active" %>
        <%= f.text_area :text %>
      </div>
    </div>

    <div class="row">
      <div class="file-field input-field col s12 l6">
        <div class="btn navbar-color-dark">
          <span>Photo</span>
          <%= f.file_field :photo, id: "upload"%>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate", placeholder="Upload new image">
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col s12">
          <%= f.submit "Update category", class: "btn waves-effect waves-light navbar-color-dark" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
