<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title>Smart and Bright. Busy boards, educational toys</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Stalemate" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <header>
    <div class="navbar-fixed">
      <nav class="grey darken-3 black-text">
        <div class="nav-wrapper">
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <a href="/" class="brand-logo right font-cursive">Smart and Bright</a>
          <ul class="left hide-on-med-and-down compress">
            <li><%= link_to "Home", root_path %> </li>
            <li><%= link_to "Shop", '/shop' %> </li>
            <li><%= link_to "Contacts", root_path %> </li>
          </ul>
          <ul class="side-nav flow-text" id="mobile-demo">
            <li><%= link_to "Home", root_path %> </li>
            <li><%= link_to "Shop", './shop' %> </li>
            <li><%= link_to "Contacts", root_path %> </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>
  <script>
    $('.button-collapse').sideNav();
    $('select').material_select();
  </script>
</html>
